@using TPFinal_TOAST.Models
@model Receta
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/animate.css">
        <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/Content/magnific-popup.css">
        <link rel="stylesheet" href="~/Content/aos.css">
        <link rel="stylesheet" href="~/Content/ionicons.css">
        <link rel="stylesheet" href="~/Content/flaticon.css">
        <link rel="stylesheet" href="~/Content/icomoon.css">
        <link rel="stylesheet" href="~/Content/style.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
        <link rel="stylesheet" href="~/Content/fontAwesome1.css">
        <link rel="stylesheet" href="~/Content/hero-slider1.css">
        <link rel="stylesheet" href="~/Content/tooplate-style1.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script src="~/Content/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
</head>
<h1 class="mb-3"> @ViewBag.nom </h1>
<div style="background-image:url('fondo.png');">
    <div class="row">
        @{Usuario user = (Usuario)Session["Usuario"];
        }
        @foreach (Receta r in ViewBag.recxcat)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-itemCat first-service">
                    <img class="FotosIndex" src="~/Content/Fotos/Recetas/@r.NombreFoto" alt="@r.NombreFoto" /> <br />
                    <a class="NombreReceta" href='@Url.Action("ViewReceta", "Home", new { id = r.IDReceta })'> <h4>@r.NombreReceta</h4> </a> <br />
                    <div class="first-service icon">
                        @if (Session["Usuario"] != null)
                        {
                            if (user.IDUsuario == r.Autor)
                            {
                                <div class="editarRec">
                                    @Html.ActionLink("Editar receta", "ModificarReceta", "Home", new { id = r.IDReceta }, null)<br />
                                </div>
                            }

                            user._Favoritos = user.TraerFavoritos(user.IDUsuario);
                            if (user._Favoritos.Contains(r))
                            {
                                <a href="@Url.Action("Favoritos", "Home", new { IdRec = r.IDReceta, IdUsu= user.IDUsuario, modo = "Eliminar", view = "RecetaCategoria"})"><img src="~/Content/Fotos/Otros/Heart_Icon_Filled.png" alt="Heart_Icon_Filled" /></a>

                            }
                            else
                            {
                                <a href="@Url.Action("Favoritos", "Home", new { IdRec = r.IDReceta, IdUsu= user.IDUsuario, modo = "Insertar", view = "RecetaCategoria"})"><img src="~/Content/Fotos/Otros/Heart_Icon.png" alt="Heart_Icon" /></a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Usuarios")"><img src="~/Content/Fotos/Otros/Heart_Icon.png" alt="Agregar a Favoritos" /></a>
                        }
                    </div>

                </div>
            </div>
        }
    </div>
</div>
