@using TPFinal_TOAST.Models
@model Receta
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/fontAwesome1.css">
    <link rel="stylesheet" href="~/Content/hero-slider1.css">
    <link rel="stylesheet" href="~/Content/tooplate-style1.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <script src="~/Content/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="~/Content/main2.css" rel="stylesheet" />
</head>
<div id="TitNuevaReceta"><h1>Nueva receta</h1></div>
@using (Html.BeginForm("RecetaSubida", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="UploadFoto"> <img src="~/Content/Fotos/Otros/Upload_Icon2.png" alt="Subir foto" width="270" height="220" /> @Html.TextBoxFor(model => model.Foto, new { type = "file" }) @Html.ValidationMessageFor(model => model.Foto)<br /></div>
    <div class="Subir_Receta"><p>Nombre:</p>@Html.TextBoxFor(model => model.NombreReceta) @Html.ValidationMessageFor(model => model.NombreReceta)<br /></div>
    <div class="Subir_Receta2"><p>Elegir categoría:</p> <div class="Textbox1"> @Html.DropDownListFor(model => model.Categoria, new SelectList(ViewBag.Categorias, ViewBag.Categorias.IdCategoria, ViewBag.Categorias.Nom_Categoria)) @Html.ValidationMessageFor(model => model.Categoria)<br /> </div></div>
    <div class="Subir_Receta"><p>Ingredientes:</p> @Html.TextBoxFor(model => model.Ingredientes) @Html.ValidationMessageFor(model => model.Ingredientes)<br /></div>
    <div class="Subir_Receta"><p>Instrucciones:</p> @Html.TextAreaFor(model => model.Preparacion) @Html.ValidationMessageFor(model => model.Preparacion)<br /></div>
    <div class="Subir_Receta"><p>Dificultad:</p> @Html.DropDownListFor(model => model.Dificultad, new SelectList(ViewBag.Dificultades, ViewBag.Dificultades.IDDificultad, ViewBag.Dificultades.NombreDificultad)) @Html.ValidationMessageFor(model => model.Dificultad)<br /></div>
    <div class="Subir_Receta"><p>Tiempo de Preparacion:</p> @Html.TextBoxFor(model => model.TiempoPreparacion) @Html.ValidationMessageFor(model => model.TiempoPreparacion)<br /></div>
    <div class="Subir_Receta"><p>Cantidad de Platos:</p> @Html.TextBoxFor(model => model.CantidadPlatos) @Html.ValidationMessageFor(model => model.CantidadPlatos)<br /></div>
    <button type="submit" id="form-submit" class="btn-search">Subir receta</button>
}