@using TPFinal_TOAST.Models
@model Receta

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/Recetas.css">
</head>
<body>
    <!--<div id="Receta" class="">
        <div id="Componente_11___55" class="Componente_11___55">
            <svg class="Trazado_13" viewBox="0 0 2880 549">
                <path fill="rgba(31,31,31,1)" id="Trazado_13" d="M 0 0 L 2880 0 L 2880 549 L 0 549 L 0 0 Z">
                </path>
            </svg>
        </div>-->




    <div id="Componente_15___2" class="Componente_15___2">
        <div id="Nombre_Receta">
            <h1 class="h1ViewReceta"> @Model.NombreReceta </h1>
        </div>


        <div id="minutos">
            <h4>Subida por: @ViewBag.Usuario.Nombre_Usuario</h4>
            <h2> Tiempo de preparacion: @Model.TiempoPreparacion minutos </h2>
        <!--<div id="f_cil">
        <h2>Model.Dificultad</h2>
    </div>-->
            <h2>raciones: @Model.CantidadPlatos</h2>
        </div>

        <div class="divViewReceta">
            <img class="imgViewReceta" src="~/Content/Fotos/Recetas/@Model.NombreFoto" />
        </div>
        <!--<img src="~/Content/Fotos/Otros/Heart_Icon.png" />-->
    </div>
        <div id="Ingredientes_"> <br />
            @foreach (Ingrediente ing in Model.Ingredientes)
            {
                <ul>
                    <li>@ing.NombreIngrediente</li>
                </ul>
            }
        </div> <br />

        <div id="Instrucciones_">
            <h2>@Model.Preparacion</h2>
        </div>
        <!--<div id="Ingredientes">
            <span>Para la masa:<br />400 gr. Harina leudante<br />60 gr. Azúcar<br />200 gr. Manteca/ mantequilla<br />1 Huevo<br />Pizca Sal<br />2 cdas. Agua fría (si es necesario)<br />Para el relleno:<br />1 1/2 k. Manzanas verdes o rojas<br />100 gr. Azúcar<br />20 gr. Fécula de maíz<br />Jugo de medio limón<br />1 cdta. Canela en polvo</span>
        </div>
        <div id="Listado">
            <span>1.<br /><br /><br />2.<br />3.<br /><br />4.<br />5.</span>
        </div>
        <div id="Instrucciones">
            <span></span><span style="font-style:normal;font-weight:normal;font-size:45px;color:rgba(31,31,31,1);">Con las yemas de los dedos formar un arenado con la harina, la sal, la manteca y el azúcar, luego agregar el huevo,<br /> si es necesario agregar 2 cucharadas de agua fría, integrar (no amasar) todos los ingredientes. Luego extender la <br />masa sobre papel film y reservamos en la heladera mientras preparamos las manzanas. (30' aprox.)<br />Mezclar la manzana (previamente peladas y ralladas) con el azúcar, el limón, la fécula de maíz y la canela en polvo. <br />Sacar la masa de la heladera,extender con un rodillo y forrar una tartera de 24 cm. reservando un poco de masa <br />para el enrejado.<br />Vaciar el relleno en la tartera y luego con la masa reservada hacer el enrejado y cubrir la tarta.<br />Llevar a horno precalentado de 170 grados por 45' aproximadamente. Retirar del horno y dejar enfriar sobre una <br />rejilla, luego desmoldar.</span>
        </div>-->
        <!--<svg class="Rect_ngulo_4">
        <rect fill="rgba(255,255,255,1)" id="Rect_ngulo_4" rx="0" ry="0" x="0" y="0" width="2880" height="211.486">
        </rect>
    </svg>-->
        <div id="Header">
            <div id="Categor_as">
                <h4>@Model.Categoria</h4>
            </div>

        </div>
    <div>
        <button type="button" class="correte" data-confirm="¿Querés eliminar esta receta?">
            @Html.ActionLink("Eliminar receta", "EliminarReceta", "Home", new { id = Model.IDReceta })
        </button>
    </div>
</body>