@using TPFinal_TOAST.Models
@model Receta

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div id="Receta" class="">
        <div id="Componente_11___55" class="Componente_11___55">
            <svg class="Trazado_13" viewBox="0 0 2880 549">
                <path fill="rgba(31,31,31,1)" id="Trazado_13" d="M 0 0 L 2880 0 L 2880 549 L 0 549 L 0 0 Z">
                </path>
            </svg>
            <div id="Copyright">
                <span>© 2019 Toast, Inc.</span>
            </div>
            <div id="Acerca">
                <span>Acerca</span>
            </div>
            <div id="Grupo_3">
                <svg class="Trazado_4" viewBox="468.288 533.839 34.54 66">
                    <path fill="rgba(255,255,255,1)" id="Trazado_4" d="M 484.9981689453125 557.830810546875 L 484.9981689453125 583.035400390625 C 484.9981689453125 585.401611328125 485.6195068359375 587.2837524414063 486.8646850585938 588.68359375 C 488.109130859375 590.083740234375 489.852294921875 590.7839965820313 492.0930786132813 590.7839965820313 C 494.333251953125 590.7839965820313 496.480224609375 589.6959228515625 498.5340576171875 587.5166015625 L 502.8284301757813 594.891357421875 C 499.1554565429688 598.190673828125 495.0946655273438 599.8389892578125 490.6456909179688 599.8389892578125 C 486.1956787109375 599.8389892578125 482.3987426757813 598.2987670898438 479.2571411132813 595.218017578125 C 476.1134643554688 592.1375732421875 474.5426635742188 587.9832763671875 474.5426635742188 582.755615234375 L 474.5426635742188 557.830810546875 L 468.2879638671875 557.830810546875 L 468.2879638671875 549.4287109375 L 474.5426635742188 549.4287109375 L 474.5426635742188 533.8389892578125 L 484.9981689453125 533.8389892578125 L 484.9981689453125 549.4287109375 L 498.0673217773438 549.4287109375 L 498.0673217773438 557.830810546875 L 484.9981689453125 557.830810546875 Z">
                    </path>
                </svg>
                <svg class="Trazado_5" viewBox="583.631 577.505 52.277 51.157">
                    <path fill="rgba(255,255,255,1)" id="Trazado_5" d="M 628.4398193359375 621.2404174804688 C 623.4603271484375 626.1880493164063 617.237548828125 628.6617431640625 609.76904296875 628.6617431640625 C 602.301513671875 628.6617431640625 596.0774536132813 626.1880493164063 591.098876953125 621.2404174804688 C 586.1192626953125 616.2927856445313 583.6309814453125 610.2410278320313 583.6309814453125 603.0835571289063 C 583.6309814453125 595.9273681640625 586.1192626953125 589.8739624023438 591.098876953125 584.92626953125 C 596.0774536132813 579.9786376953125 602.301513671875 577.5050048828125 609.76904296875 577.5050048828125 C 617.237548828125 577.5050048828125 623.4603271484375 579.9786376953125 628.4398193359375 584.92626953125 C 633.4180908203125 589.8739624023438 635.90771484375 595.9273681640625 635.90771484375 603.0835571289063 C 635.90771484375 610.2410278320313 633.4180908203125 616.2927856445313 628.4398193359375 621.2404174804688 M 598.5204467773438 614.799072265625 C 601.4754638671875 617.8182983398438 605.2259521484375 619.3265991210938 609.76904296875 619.3265991210938 C 614.3118286132813 619.3265991210938 618.0612182617188 617.8182983398438 621.0185546875 614.799072265625 C 623.9732666015625 611.78125 625.45263671875 607.87646484375 625.45263671875 603.0835571289063 C 625.45263671875 598.2919311523438 623.9732666015625 594.3871459960938 621.0185546875 591.367919921875 C 618.0612182617188 588.3497314453125 614.3118286132813 586.840087890625 609.76904296875 586.840087890625 C 605.2259521484375 586.840087890625 601.4754638671875 588.3497314453125 598.5204467773438 591.367919921875 C 595.5634765625 594.3871459960938 594.08642578125 598.2919311523438 594.08642578125 603.0835571289063 C 594.08642578125 607.87646484375 595.5634765625 611.78125 598.5204467773438 614.799072265625">
                    </path>
                </svg>
                <svg class="Trazado_6" viewBox="761.31 577.505 43.969 51.157">
                    <path fill="rgba(255,255,255,1)" id="Trazado_6" d="M 805.2786254882813 627.9152221679688 L 795.7568969726563 627.9152221679688 L 795.7568969726563 621.2869873046875 C 791.6492309570313 626.2040405273438 786.141357421875 628.6617431640625 779.2337036132813 628.6617431640625 C 774.0667724609375 628.6617431640625 769.788818359375 627.2000122070313 766.3973388671875 624.2742309570313 C 763.0045166015625 621.349853515625 761.3099975585938 617.4451293945313 761.3099975585938 612.55859375 C 761.3099975585938 607.6738891601563 763.114013671875 604.0169677734375 766.7239990234375 601.5895385742188 C 770.3327026367188 599.1624145507813 775.2191772460938 597.9489135742188 781.3803100585938 597.9489135742188 L 794.9166259765625 597.9489135742188 L 794.9166259765625 596.0820922851563 C 794.9166259765625 589.486083984375 791.2437133789063 586.1867065429688 783.9012451171875 586.1867065429688 C 779.2945556640625 586.1867065429688 774.503662109375 587.866943359375 769.5250244140625 591.2279052734375 L 764.8571166992188 584.693115234375 C 770.8932495117188 579.9015502929688 777.7401123046875 577.5050048828125 785.3949584960938 577.5050048828125 C 791.2437133789063 577.5050048828125 796.0206909179688 578.9840087890625 799.7241821289063 581.9393310546875 C 803.4263305664063 584.895751953125 805.2786254882813 589.5472412109375 805.2786254882813 595.8954467773438 L 805.2786254882813 627.9152221679688 Z M 794.8231201171875 609.4313354492188 L 794.8231201171875 605.2305297851563 L 783.0606689453125 605.2305297851563 C 775.530517578125 605.2305297851563 771.7651977539063 607.5960083007813 771.7651977539063 612.3255004882813 C 771.7651977539063 614.7522583007813 772.698974609375 616.6047973632813 774.566162109375 617.8795776367188 C 776.4326782226563 619.1556396484375 779.03076171875 619.7933349609375 782.3607177734375 619.7933349609375 C 785.6892700195313 619.7933349609375 788.5990600585938 618.8599243164063 791.08935546875 616.9930419921875 C 793.5773315429688 615.1257934570313 794.8231201171875 612.605224609375 794.8231201171875 609.4313354492188">
                    </path>
                </svg>
                <svg class="Trazado_7" viewBox="920.314 577.505 39.861 51.157">
                    <path fill="rgba(255,255,255,1)" id="Trazado_7" d="M 960.1753540039063 613.0718994140625 C 960.1753540039063 617.8023681640625 958.4630737304688 621.5830688476563 955.0413818359375 624.414306640625 C 951.61767578125 627.2469482421875 947.2301635742188 628.6617431640625 941.8782958984375 628.6617431640625 C 938.268310546875 628.6617431640625 934.5182495117188 628.0083618164063 930.6294555664063 626.7013549804688 C 926.7393188476563 625.3946533203125 923.30126953125 623.5593872070313 920.3140869140625 621.1934814453125 L 925.3551635742188 613.0718994140625 C 931.1431274414063 617.4288330078125 936.7440795898438 619.606689453125 942.158447265625 619.606689453125 C 944.5226440429688 619.606689453125 946.3898315429688 619.0624389648438 947.7598266601563 617.9730224609375 C 949.1279907226563 616.8849487304688 949.8136596679688 615.4990234375 949.8136596679688 613.8187866210938 C 949.8136596679688 611.3305053710938 946.513916015625 609.0900268554688 939.91796875 607.0977172851563 C 939.4193725585938 606.9108276367188 939.0457763671875 606.7870483398438 938.797607421875 606.72412109375 C 928.4664916992188 603.9235229492188 923.30126953125 599.2559814453125 923.30126953125 592.7214965820313 C 923.30126953125 588.1165161132813 925.0896606445313 584.4290161132813 928.6694946289063 581.6588745117188 C 932.2471923828125 578.8905029296875 936.8984985351563 577.5050048828125 942.6251831054688 577.5050048828125 C 948.3505859375 577.5050048828125 953.7649536132813 579.185302734375 958.8685913085938 582.5457763671875 L 954.947509765625 590.2944946289063 C 950.9013671875 587.6192016601563 946.513916015625 586.2799072265625 941.7848510742188 586.2799072265625 C 939.2952880859375 586.2799072265625 937.2720336914063 586.7323608398438 935.7172241210938 587.6334838867188 C 934.1609497070313 588.53662109375 933.383544921875 589.8902587890625 933.383544921875 591.694580078125 C 933.383544921875 593.3136596679688 934.1915283203125 594.4949340820313 935.8102416992188 595.24169921875 C 936.9307250976563 595.8019409179688 938.50146484375 596.33154296875 940.5247802734375 596.828857421875 C 942.546630859375 597.3278198242188 944.3359375 597.8248291015625 945.892578125 598.322509765625 C 947.4473876953125 598.821533203125 948.95703125 599.3814086914063 950.4201049804688 600.0028076171875 C 951.8817138671875 600.6258544921875 953.4542236328125 601.4963989257813 955.1342163085938 602.616455078125 C 958.4949951171875 604.85693359375 960.1753540039063 608.3432006835938 960.1753540039063 613.0718994140625">
                    </path>
                </svg>
                <svg class="Trazado_8" viewBox="1061.195 533.839 34.54 66">
                    <path fill="rgba(255,255,255,1)" id="Trazado_8" d="M 1077.905151367188 557.830810546875 L 1077.905151367188 583.035400390625 C 1077.905151367188 585.401611328125 1078.526489257813 587.2837524414063 1079.77197265625 588.68359375 C 1081.01611328125 590.083740234375 1082.759643554688 590.7839965820313 1085 590.7839965820313 C 1087.240112304688 590.7839965820313 1089.38720703125 589.6959228515625 1091.441162109375 587.5166015625 L 1095.7353515625 594.891357421875 C 1092.062133789063 598.190673828125 1088.001708984375 599.8389892578125 1083.552734375 599.8389892578125 C 1079.102294921875 599.8389892578125 1075.3056640625 598.2987670898438 1072.164184570313 595.218017578125 C 1069.020385742188 592.1375732421875 1067.449584960938 587.9832763671875 1067.449584960938 582.755615234375 L 1067.449584960938 557.830810546875 L 1061.194946289063 557.830810546875 L 1061.194946289063 549.4287109375 L 1067.449584960938 549.4287109375 L 1067.449584960938 533.8389892578125 L 1077.905151367188 533.8389892578125 L 1077.905151367188 549.4287109375 L 1090.974243164063 549.4287109375 L 1090.974243164063 557.830810546875 L 1077.905151367188 557.830810546875 Z">
                    </path>
                </svg>
                <svg class="Trazado_9" viewBox="1183.802 688.767 21.746 13.336">
                    <path fill="rgba(255,255,255,1)" id="Trazado_9" d="M 1202.554443359375 702.1026611328125 L 1186.796142578125 702.1026611328125 C 1185.142700195313 702.1026611328125 1183.802001953125 700.762451171875 1183.802001953125 699.108642578125 L 1183.802001953125 691.7611083984375 C 1183.802001953125 690.1072998046875 1185.142700195313 688.76708984375 1186.796142578125 688.76708984375 L 1202.554443359375 688.76708984375 C 1204.208251953125 688.76708984375 1205.548461914063 690.1072998046875 1205.548461914063 691.7611083984375 L 1205.548461914063 699.108642578125 C 1205.548461914063 700.762451171875 1204.208251953125 702.1026611328125 1202.554443359375 702.1026611328125">
                    </path>
                </svg>
                <svg class="Trazado_10" viewBox="1183.802 663.871 22.018 10.146">
                    <path fill="rgba(255,255,255,1)" id="Trazado_10" d="M 1205.820434570313 668.9440307617188 C 1205.820434570313 671.7457275390625 1200.8916015625 674.0174560546875 1194.811645507813 674.0174560546875 C 1188.73095703125 674.0174560546875 1183.802001953125 671.7457275390625 1183.802001953125 668.9440307617188 C 1183.802001953125 666.142333984375 1188.73095703125 663.8709716796875 1194.811645507813 663.8709716796875 C 1200.8916015625 663.8709716796875 1205.820434570313 666.142333984375 1205.820434570313 668.9440307617188">
                    </path>
                </svg>
            </div>
            <div id="Enviar_una_idea">
                <!-- no es necesario -->
                <span>Enviar una idea</span>
            </div>
            <div id="_">
                <span>|</span>
            </div>
        </div>
        <div id="Componente_15___2" class="Componente_15___2">
            <div id="Eslogan">
                <span>Buscar recetas </span><br><span style="font-style:normal;font-weight:normal;">nunca ha sido más fácil.</span>
            </div>
            <div id="Explicacion">
                <span>Tan sólo ingresar un ingrediente alcanza para ver cientos de recetas que podrás hacer con este.</span>
            </div>
            <svg class="Hero_Image" viewBox="0 0 2880 757.12">
                <pattern elementId="Hero_Image_A4_Path_93" id="Hero_Image_A4_Path_93_pattern" x="0" y="0" width="100%" height="100%">
                    <image x="0" y="0" width="100%" height="100%" href="Hero_Image_A4_Path_93_pattern.png" xlink:href="Hero_Image_A4_Path_93_pattern.png"></image>
                </pattern>
                <path fill="url(#Hero_Image_A4_Path_93_pattern)" id="Hero_Image" d="M 0 0 L 2880 0 L 2880 757.11962890625 L 0 757.11962890625 L 0 0 Z">
                </path>
            </svg>
            <svg class="Hero_Image_A4_Path_94" viewBox="0 0 2880 757.12">
                <path fill="rgba(17,17,17,0.251)" id="Hero_Image_A4_Path_94" d="M 0 0 L 2880 0 L 2880 757.11962890625 L 0 757.11962890625 L 0 0 Z">
                </path>
            </svg>
            <div id="Nombre_Receta">
                <span>@Model.NombreReceta</span><span style="font-style:normal;font-weight:normal;">.</span>
            </div>
            <div id="minutos">
                <span>@Model.TiempoPreparacion</span>
            </div>
            <div id="ID50">
                <span>@Model.TiempoPreparacion</span>
            </div>
            <div id="f_cil">
                <span>@Model.Dificultad</span>
            </div>
            <div id="raciones">
                <span>raciones</span>
            </div>
            <div id="ID8">
                <span>@Model.CantidadPlatos</span>
            </div>
            <svg class="Icon_material_access_time" viewBox="3 3 39.484 39.484">
                <path fill="rgba(241,241,241,1)" id="Icon_material_access_time" d="M 22.72220039367676 3.000000476837158 C 11.82464599609375 3.000000476837158 3.000000476837158 11.84439086914063 3.000000476837158 22.74193954467773 C 3.000000476837158 33.63948822021484 11.82464599609375 42.48388290405273 22.72220039367676 42.48388290405273 C 33.63949203491211 42.48388290405273 42.48388290405273 33.63949203491211 42.48388290405273 22.74193954467773 C 42.48388290405273 11.84438896179199 33.63949203491211 3.000000476837158 22.72220039367676 3.000000476837158 Z M 22.74193954467773 38.53549194335938 C 14.0160026550293 38.53549194335938 6.948389053344727 31.46788024902344 6.948389053344727 22.74193954467773 C 6.948389053344727 14.0160026550293 14.0160026550293 6.948389053344727 22.74193954467773 6.948389053344727 C 31.46788024902344 6.948389053344727 38.53549194335938 14.0160026550293 38.53549194335938 22.74193954467773 C 38.53549194335938 31.46788024902344 31.46788024902344 38.53549194335938 22.74193954467773 38.53549194335938 Z M 23.72903633117676 12.87096977233887 L 20.76774597167969 12.87096977233887 L 20.76774597167969 24.71613502502441 L 31.13226509094238 30.93484497070313 L 32.61291122436523 28.50658798217773 L 23.72903633117676 23.23548889160156 L 23.72903633117676 12.87096977233887 Z">
                </path>
            </svg>
            <svg class="User_Icon" viewBox="1.5 7.5 62.046 39.484">
                <path fill="rgba(241,241,241,1)" id="Icon_material_people_outline" d="M 45.21433258056641 30.06223487854004 C 41.82999420166016 30.06223487854004 36.55607223510742 31.0211296081543 32.5230712890625 32.88251495361328 C 28.49007034301758 30.99292945861816 23.21614837646484 30.06223487854004 19.83181381225586 30.06223487854004 C 13.7118091583252 30.06223487854004 1.499999523162842 33.10813903808594 1.499999523162842 39.22814559936523 L 1.499999523162842 46.98391342163086 L 63.546142578125 46.98391342163086 L 63.546142578125 39.22814559936523 C 63.546142578125 33.10813903808594 51.3343391418457 30.06223487854004 45.21433258056641 30.06223487854004 Z M 33.93321228027344 42.75349426269531 L 5.730419158935547 42.75349426269531 L 5.730419158935547 39.22814559936523 C 5.730419158935547 37.70519256591797 12.95033264160156 34.29265594482422 19.83181381225586 34.29265594482422 C 26.71329879760742 34.29265594482422 33.93321228027344 37.70519256591797 33.93321228027344 39.22814559936523 L 33.93321228027344 42.75349426269531 Z M 59.31572341918945 42.75349426269531 L 38.16363143920898 42.75349426269531 L 38.16363143920898 39.22814559936523 C 38.16363143920898 37.93081283569336 37.59957504272461 36.80270385742188 36.69708633422852 35.78739929199219 C 39.17893218994141 34.94131851196289 42.22483062744141 34.29265594482422 45.21433258056641 34.29265594482422 C 52.09580612182617 34.29265594482422 59.31572341918945 37.70519256591797 59.31572341918945 39.22814559936523 L 59.31572341918945 42.75349426269531 Z M 19.83181381225586 27.24195289611816 C 25.27495193481445 27.24195289611816 29.70279502868652 22.81411743164063 29.70279502868652 17.37097549438477 C 29.70279502868652 11.92783832550049 25.27495193481445 7.5 19.83181381225586 7.5 C 14.38867473602295 7.5 9.960838317871094 11.92783832550049 9.960838317871094 17.37097549438477 C 9.960838317871094 22.81411743164063 14.38867473602295 27.24195289611816 19.83181381225586 27.24195289611816 Z M 19.83181381225586 11.73041915893555 C 22.93412017822266 11.73041915893555 25.47237205505371 14.26867008209229 25.47237205505371 17.37097549438477 C 25.47237205505371 20.47328567504883 22.93412017822266 23.01153755187988 19.83181381225586 23.01153755187988 C 16.72950744628906 23.01153755187988 14.19125556945801 20.47328567504883 14.19125556945801 17.37097549438477 C 14.19125556945801 14.26867008209229 16.72950744628906 11.73041915893555 19.83181381225586 11.73041915893555 Z M 45.21433258056641 27.24195289611816 C 50.657470703125 27.24195289611816 55.08531188964844 22.81411743164063 55.08531188964844 17.37097549438477 C 55.08531188964844 11.92783832550049 50.657470703125 7.5 45.21433258056641 7.5 C 39.77119064331055 7.5 35.34334945678711 11.92783832550049 35.34334945678711 17.37097549438477 C 35.34334945678711 22.81411743164063 39.77119064331055 27.24195289611816 45.21433258056641 27.24195289611816 Z M 45.21433258056641 11.73041915893555 C 48.31663513183594 11.73041915893555 50.85488510131836 14.26867008209229 50.85488510131836 17.37097549438477 C 50.85488510131836 20.47328567504883 48.31663513183594 23.01153755187988 45.21433258056641 23.01153755187988 C 42.11202239990234 23.01153755187988 39.57377243041992 20.47328567504883 39.57377243041992 17.37097549438477 C 39.57377243041992 14.26867008209229 42.11202239990234 11.73041915893555 45.21433258056641 11.73041915893555 Z">
                </path>
            </svg>
            <img src="~/Content/Fotos/Otros/Heart_Icon.png" />
        </div>
        <div id="Componente_16___2" class="Componente_16___2">
            <div id="Ingredientes_">
                @foreach (Ingrediente ing in Model.Ingredientes)
                {
                    <ul>
                        <li>@ing.NombreIngrediente</li>
                    </ul>
                }
            </div>
            <div id="Instrucciones_">
                <span>@Model.Preparacion</span>
            </div>
            <!--<div id="Ingredientes">
                <span>Para la masa:<br />400 gr. Harina leudante<br />60 gr. Azúcar<br />200 gr. Manteca/ mantequilla<br />1 Huevo<br />Pizca Sal<br />2 cdas. Agua fría (si es necesario)<br />Para el relleno:<br />1 1/2 k. Manzanas verdes o rojas<br />100 gr. Azúcar<br />20 gr. Fécula de maíz<br />Jugo de medio limón<br />1 cdta. Canela en polvo</span>
            </div>
            <div id="Listado">
                <span>1.<br /><br /><br />2.<br />3.<br /><br />4.<br />5.</span>
            </div>
            <div id="Instrucciones">
                <span></span><span style="font-style:normal;font-weight:normal;font-size:45px;color:rgba(31,31,31,1);">Con las yemas de los dedos formar un arenado con la harina, la sal, la manteca y el azúcar, luego agregar el huevo,<br /> si es necesario agregar 2 cucharadas de agua fría, integrar (no amasar) todos los ingredientes. Luego extender la <br />masa sobre papel film y reservamos en la heladera mientras preparamos las manzanas. (30' aprox.)<br />Mezclar la manzana (previamente peladas y ralladas) con el azúcar, el limón, la fécula de maíz y la canela en polvo. <br />Sacar la masa de la heladera,extender con un rodillo y forrar una tartera de 24 cm. reservando un poco de masa <br />para el enrejado.<br />Vaciar el relleno en la tartera y luego con la masa reservada hacer el enrejado y cubrir la tarta.<br />Llevar a horno precalentado de 170 grados por 45' aproximadamente. Retirar del horno y dejar enfriar sobre una <br />rejilla, luego desmoldar.</span>
            </div>-->
            <div id="Ver_Mas_Similares">
                <span>VER MÁS POSTRES</span>
            </div>
        </div>
        <div id="Componente_12___12" class="Componente_12___12">
            <svg class="Rect_ngulo_4">
                <rect fill="rgba(255,255,255,1)" id="Rect_ngulo_4" rx="0" ry="0" x="0" y="0" width="2880" height="211.486">
                </rect>
            </svg>
            <div id="Header">
                <div id="Categor_as">
                    <span>@Model.Categoria</span>
                </div>
                <div id="Submit_Button">
                    <svg class="Button">
                        <rect fill="rgba(247,139,11,0)" stroke="rgba(247,139,11,0.502)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Button" rx="11" ry="11" x="0" y="0" width="293" height="64">
                        </rect>
                    </svg>
                    <div id="Subir_una_receta">
                        <span>Subir una receta</span>
                    </div>
                </div>
            </div>
            <div onclick="application.showViewById('Home_Page')" id="Grupo_4">
                <svg class="Trazado_4_A4_Path_98" viewBox="468.288 533.839 34.54 66">
                    <path fill="rgba(0,0,0,1)" id="Trazado_4_A4_Path_98" d="M 484.9981689453125 557.830810546875 L 484.9981689453125 583.035400390625 C 484.9981689453125 585.401611328125 485.6195068359375 587.2837524414063 486.8646850585938 588.68359375 C 488.109130859375 590.083740234375 489.852294921875 590.7839965820313 492.0930786132813 590.7839965820313 C 494.333251953125 590.7839965820313 496.480224609375 589.6959228515625 498.5340576171875 587.5166015625 L 502.8284301757813 594.891357421875 C 499.1554565429688 598.190673828125 495.0946655273438 599.8389892578125 490.6456909179688 599.8389892578125 C 486.1956787109375 599.8389892578125 482.3987426757813 598.2987670898438 479.2571411132813 595.218017578125 C 476.1134643554688 592.1375732421875 474.5426635742188 587.9832763671875 474.5426635742188 582.755615234375 L 474.5426635742188 557.830810546875 L 468.2879638671875 557.830810546875 L 468.2879638671875 549.4287109375 L 474.5426635742188 549.4287109375 L 474.5426635742188 533.8389892578125 L 484.9981689453125 533.8389892578125 L 484.9981689453125 549.4287109375 L 498.0673217773438 549.4287109375 L 498.0673217773438 557.830810546875 L 484.9981689453125 557.830810546875 Z">
                    </path>
                </svg>
                <svg class="Trazado_5_A4_Path_99" viewBox="583.631 577.505 52.277 51.157">
                    <path fill="rgba(0,0,0,1)" id="Trazado_5_A4_Path_99" d="M 628.4398193359375 621.2404174804688 C 623.4603271484375 626.1880493164063 617.237548828125 628.6617431640625 609.76904296875 628.6617431640625 C 602.301513671875 628.6617431640625 596.0774536132813 626.1880493164063 591.098876953125 621.2404174804688 C 586.1192626953125 616.2927856445313 583.6309814453125 610.2410278320313 583.6309814453125 603.0835571289063 C 583.6309814453125 595.9273681640625 586.1192626953125 589.8739624023438 591.098876953125 584.92626953125 C 596.0774536132813 579.9786376953125 602.301513671875 577.5050048828125 609.76904296875 577.5050048828125 C 617.237548828125 577.5050048828125 623.4603271484375 579.9786376953125 628.4398193359375 584.92626953125 C 633.4180908203125 589.8739624023438 635.90771484375 595.9273681640625 635.90771484375 603.0835571289063 C 635.90771484375 610.2410278320313 633.4180908203125 616.2927856445313 628.4398193359375 621.2404174804688 M 598.5204467773438 614.799072265625 C 601.4754638671875 617.8182983398438 605.2259521484375 619.3265991210938 609.76904296875 619.3265991210938 C 614.3118286132813 619.3265991210938 618.0612182617188 617.8182983398438 621.0185546875 614.799072265625 C 623.9732666015625 611.78125 625.45263671875 607.87646484375 625.45263671875 603.0835571289063 C 625.45263671875 598.2919311523438 623.9732666015625 594.3871459960938 621.0185546875 591.367919921875 C 618.0612182617188 588.3497314453125 614.3118286132813 586.840087890625 609.76904296875 586.840087890625 C 605.2259521484375 586.840087890625 601.4754638671875 588.3497314453125 598.5204467773438 591.367919921875 C 595.5634765625 594.3871459960938 594.08642578125 598.2919311523438 594.08642578125 603.0835571289063 C 594.08642578125 607.87646484375 595.5634765625 611.78125 598.5204467773438 614.799072265625">
                    </path>
                </svg>
                <svg class="Trazado_6_A4_Path_100" viewBox="761.31 577.505 43.969 51.157">
                    <path fill="rgba(0,0,0,1)" id="Trazado_6_A4_Path_100" d="M 805.2786254882813 627.9152221679688 L 795.7568969726563 627.9152221679688 L 795.7568969726563 621.2869873046875 C 791.6492309570313 626.2040405273438 786.141357421875 628.6617431640625 779.2337036132813 628.6617431640625 C 774.0667724609375 628.6617431640625 769.788818359375 627.2000122070313 766.3973388671875 624.2742309570313 C 763.0045166015625 621.349853515625 761.3099975585938 617.4451293945313 761.3099975585938 612.55859375 C 761.3099975585938 607.6738891601563 763.114013671875 604.0169677734375 766.7239990234375 601.5895385742188 C 770.3327026367188 599.1624145507813 775.2191772460938 597.9489135742188 781.3803100585938 597.9489135742188 L 794.9166259765625 597.9489135742188 L 794.9166259765625 596.0820922851563 C 794.9166259765625 589.486083984375 791.2437133789063 586.1867065429688 783.9012451171875 586.1867065429688 C 779.2945556640625 586.1867065429688 774.503662109375 587.866943359375 769.5250244140625 591.2279052734375 L 764.8571166992188 584.693115234375 C 770.8932495117188 579.9015502929688 777.7401123046875 577.5050048828125 785.3949584960938 577.5050048828125 C 791.2437133789063 577.5050048828125 796.0206909179688 578.9840087890625 799.7241821289063 581.9393310546875 C 803.4263305664063 584.895751953125 805.2786254882813 589.5472412109375 805.2786254882813 595.8954467773438 L 805.2786254882813 627.9152221679688 Z M 794.8231201171875 609.4313354492188 L 794.8231201171875 605.2305297851563 L 783.0606689453125 605.2305297851563 C 775.530517578125 605.2305297851563 771.7651977539063 607.5960083007813 771.7651977539063 612.3255004882813 C 771.7651977539063 614.7522583007813 772.698974609375 616.6047973632813 774.566162109375 617.8795776367188 C 776.4326782226563 619.1556396484375 779.03076171875 619.7933349609375 782.3607177734375 619.7933349609375 C 785.6892700195313 619.7933349609375 788.5990600585938 618.8599243164063 791.08935546875 616.9930419921875 C 793.5773315429688 615.1257934570313 794.8231201171875 612.605224609375 794.8231201171875 609.4313354492188">
                    </path>
                </svg>
                <svg class="Trazado_7_A4_Path_101" viewBox="920.314 577.505 39.861 51.157">
                    <path fill="rgba(0,0,0,1)" id="Trazado_7_A4_Path_101" d="M 960.1753540039063 613.0718994140625 C 960.1753540039063 617.8023681640625 958.4630737304688 621.5830688476563 955.0413818359375 624.414306640625 C 951.61767578125 627.2469482421875 947.2301635742188 628.6617431640625 941.8782958984375 628.6617431640625 C 938.268310546875 628.6617431640625 934.5182495117188 628.0083618164063 930.6294555664063 626.7013549804688 C 926.7393188476563 625.3946533203125 923.30126953125 623.5593872070313 920.3140869140625 621.1934814453125 L 925.3551635742188 613.0718994140625 C 931.1431274414063 617.4288330078125 936.7440795898438 619.606689453125 942.158447265625 619.606689453125 C 944.5226440429688 619.606689453125 946.3898315429688 619.0624389648438 947.7598266601563 617.9730224609375 C 949.1279907226563 616.8849487304688 949.8136596679688 615.4990234375 949.8136596679688 613.8187866210938 C 949.8136596679688 611.3305053710938 946.513916015625 609.0900268554688 939.91796875 607.0977172851563 C 939.4193725585938 606.9108276367188 939.0457763671875 606.7870483398438 938.797607421875 606.72412109375 C 928.4664916992188 603.9235229492188 923.30126953125 599.2559814453125 923.30126953125 592.7214965820313 C 923.30126953125 588.1165161132813 925.0896606445313 584.4290161132813 928.6694946289063 581.6588745117188 C 932.2471923828125 578.8905029296875 936.8984985351563 577.5050048828125 942.6251831054688 577.5050048828125 C 948.3505859375 577.5050048828125 953.7649536132813 579.185302734375 958.8685913085938 582.5457763671875 L 954.947509765625 590.2944946289063 C 950.9013671875 587.6192016601563 946.513916015625 586.2799072265625 941.7848510742188 586.2799072265625 C 939.2952880859375 586.2799072265625 937.2720336914063 586.7323608398438 935.7172241210938 587.6334838867188 C 934.1609497070313 588.53662109375 933.383544921875 589.8902587890625 933.383544921875 591.694580078125 C 933.383544921875 593.3136596679688 934.1915283203125 594.4949340820313 935.8102416992188 595.24169921875 C 936.9307250976563 595.8019409179688 938.50146484375 596.33154296875 940.5247802734375 596.828857421875 C 942.546630859375 597.3278198242188 944.3359375 597.8248291015625 945.892578125 598.322509765625 C 947.4473876953125 598.821533203125 948.95703125 599.3814086914063 950.4201049804688 600.0028076171875 C 951.8817138671875 600.6258544921875 953.4542236328125 601.4963989257813 955.1342163085938 602.616455078125 C 958.4949951171875 604.85693359375 960.1753540039063 608.3432006835938 960.1753540039063 613.0718994140625">
                    </path>
                </svg>
                <svg class="Trazado_8_A4_Path_102" viewBox="1061.195 533.839 34.54 66">
                    <path fill="rgba(0,0,0,1)" id="Trazado_8_A4_Path_102" d="M 1077.905151367188 557.830810546875 L 1077.905151367188 583.035400390625 C 1077.905151367188 585.401611328125 1078.526489257813 587.2837524414063 1079.77197265625 588.68359375 C 1081.01611328125 590.083740234375 1082.759643554688 590.7839965820313 1085 590.7839965820313 C 1087.240112304688 590.7839965820313 1089.38720703125 589.6959228515625 1091.441162109375 587.5166015625 L 1095.7353515625 594.891357421875 C 1092.062133789063 598.190673828125 1088.001708984375 599.8389892578125 1083.552734375 599.8389892578125 C 1079.102294921875 599.8389892578125 1075.3056640625 598.2987670898438 1072.164184570313 595.218017578125 C 1069.020385742188 592.1375732421875 1067.449584960938 587.9832763671875 1067.449584960938 582.755615234375 L 1067.449584960938 557.830810546875 L 1061.194946289063 557.830810546875 L 1061.194946289063 549.4287109375 L 1067.449584960938 549.4287109375 L 1067.449584960938 533.8389892578125 L 1077.905151367188 533.8389892578125 L 1077.905151367188 549.4287109375 L 1090.974243164063 549.4287109375 L 1090.974243164063 557.830810546875 L 1077.905151367188 557.830810546875 Z">
                    </path>
                </svg>
                <svg class="Trazado_9_A4_Path_103" viewBox="1183.802 688.767 21.746 13.336">
                    <path fill="rgba(247,139,11,1)" id="Trazado_9_A4_Path_103" d="M 1202.554443359375 702.1026611328125 L 1186.796142578125 702.1026611328125 C 1185.142700195313 702.1026611328125 1183.802001953125 700.762451171875 1183.802001953125 699.108642578125 L 1183.802001953125 691.7611083984375 C 1183.802001953125 690.1072998046875 1185.142700195313 688.76708984375 1186.796142578125 688.76708984375 L 1202.554443359375 688.76708984375 C 1204.208251953125 688.76708984375 1205.548461914063 690.1072998046875 1205.548461914063 691.7611083984375 L 1205.548461914063 699.108642578125 C 1205.548461914063 700.762451171875 1204.208251953125 702.1026611328125 1202.554443359375 702.1026611328125">
                    </path>
                </svg>
                <svg class="Trazado_10_A4_Path_104" viewBox="1183.802 663.871 22.018 10.146">
                    <path fill="rgba(247,139,11,1)" id="Trazado_10_A4_Path_104" d="M 1205.820434570313 668.9440307617188 C 1205.820434570313 671.7457275390625 1200.8916015625 674.0174560546875 1194.811645507813 674.0174560546875 C 1188.73095703125 674.0174560546875 1183.802001953125 671.7457275390625 1183.802001953125 668.9440307617188 C 1183.802001953125 666.142333984375 1188.73095703125 663.8709716796875 1194.811645507813 663.8709716796875 C 1200.8916015625 663.8709716796875 1205.820434570313 666.142333984375 1205.820434570313 668.9440307617188">
                    </path>
                </svg>
            </div>
            <svg class="Icon_material_person" viewBox="6 6 40 40">
                <path fill="rgba(102,102,102,1)" onclick="application.showViewById('Login')" id="Icon_material_person" d="M 25.99999809265137 25.99999809265137 C 31.52500152587891 25.99999809265137 36.00000381469727 21.52500152587891 36.00000381469727 16.00000190734863 C 36.00000381469727 10.47500038146973 31.52500152587891 6 25.99999809265137 6 C 20.47500038146973 6 16.00000190734863 10.47500038146973 16.00000190734863 16.00000190734863 C 16.00000190734863 21.52500152587891 20.47500038146973 25.99999809265137 25.99999809265137 25.99999809265137 Z M 25.99999809265137 30.99999618530273 C 19.32500076293945 30.99999618530273 6 34.34999847412109 6 41 L 6 46 L 46 46 L 46 41 C 46 34.34999847412109 32.67500305175781 30.99999618530273 25.99999809265137 30.99999618530273 Z">
                </path>
            </svg>
        </div>
    </div>
    <div>
        <button type="button" data-confirm="¿Querés eliminar esta receta?">
            @Html.ActionLink("Eliminar receta", "EliminarReceta", "Home", new { id = Model.IDReceta })
        </button>
    </div>
</body>