@using TPFinal_TOAST.Models

@{
    List<Categoria> LCat = BD.ListarCategorias();
 }

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="Titulo"><a class="navbar-brand" href='@Url.Action("Index", "Home")'> <img src="~/Content/Fotos/Otros/Logo_Toast.png" alt="Toast" width="150" height="60" /></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="Izquierda">
                    <div class="Elementos">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorías
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @foreach (Categoria cat in LCat)
                                {
                                    <a class="dropdown-item" href='@Url.Action("RecetaCategoria", "Home", new { IdCat = cat.IdCategoria })'>@cat.Nom_Categoria</a>
                                }
                            </div>
                        </li>
                    </div>
                </div>
                <div class="Elementos">
                    <li class="nav-item">
                        <a class="nav-link active" href='@Url.Action("SubirReceta", "Home")'>Subir una Receta</a>
                    </li>
                </div>
                <div class="Elementos">
                    <li class="nav-item">
                        @{
                            if (Session["Usuario"] == null)
                            {
                                <a class="nav-link" href='@Url.Action("Login", "Usuarios")'><img src="~/Content/Fotos/Otros/User_Icon.png" alt="Iniciar Sesión" width="25" height="25" /></a>
                            }
                            else
                            {
                                Usuario User = (Usuario)Session["Usuario"];
                                <a class="nav-link" href='@Url.Action("Index", "Usuarios", new { user = User})'><img src="~/Content/Fotos/Perfiles/@User.NombreFoto" alt="@User.Nombre_Usuario" width="25" height="25" /></a>
                            }
                        }

                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Toast</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
