@using TPFinal_TOAST.Models
@model Usuario
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<h1>Mi perfil</h1>
<img height="100" width="100" src="~/Content/Fotos/Perfiles/@Model.NombreFoto" />
<h2>@Model.Nombre_Usuario</h2>

<h2>Mis favoritos</h2>
@if (Model._Favoritos != null)
{
    foreach (Receta r in Model._Favoritos)
    {
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item first-service">
                <img class="FotosIndex" src="~/Content/Fotos/Recetas/@r.NombreFoto" alt="@r.NombreFoto" />

                <a class="NombreReceta" href='@Url.Action("ViewReceta", "Home", new { id = r.IDReceta })'> <h4>@r.NombreReceta</h4></a> <br />
                <div class="first-service icon">
                    @if (Session["Usuario"] != null)
                    {
                        if (Model._Favoritos.Contains(r))
                        {
                            <a href="@Url.Action("Favoritos", "Home", new { IdRec = r.IDReceta, IdUsu= Model.IDUsuario, modo = "Eliminar", view = "Index"})"><img src="~/Content/Fotos/Otros/Heart_Icon_Filled.png" alt="Heart_Icon_Filled" /></a>

                        }
                        else
                        {
                            <a href="@Url.Action("Favoritos", "Home", new { IdRec = r.IDReceta, IdUsu= Model.IDUsuario, modo = "Insertar", view = "Index"})"><img src="~/Content/Fotos/Otros/Heart_Icon.png" alt="Heart_Icon" /></a>
                        }
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <h3>No hay recetas favoritas</h3>
}
<h2>Mis recetas</h2>
@if (ViewBag.RecXAut != null)
{
    foreach (Receta r in ViewBag.RecXAut)
    {
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item first-service">
                <img class="FotosIndex" src="~/Content/Fotos/Recetas/@r.NombreFoto" alt="@r.NombreFoto" />

                <a class="NombreReceta" href='@Url.Action("ViewReceta", "Home", new { id = r.IDReceta })'> <h4>@r.NombreReceta</h4></a> <br />
                @Html.ActionLink("Editar receta", "RM", "Home", new { modo = "Editar", id = r.IDReceta }, null)<br />
                <div class="first-service icon">
                    @if (Session["Usuario"] != null)
                    {
                        if (Model._Favoritos.Contains(r))
                        {
                            <a href="@Url.Action("Favoritos", "Home", new { IdRec = r.IDReceta, IdUsu = Model.IDUsuario, modo = "Eliminar", view = "Index" })"><img src="~/Content/Fotos/Otros/Heart_Icon_Filled.png" alt="Heart_Icon_Filled" /></a>

                        }
                        else
                        {
                            <a href="@Url.Action("Favoritos", "Home", new { IdRec = r.IDReceta, IdUsu = Model.IDUsuario, modo = "Insertar", view = "Index" })"><img src="~/Content/Fotos/Otros/Heart_Icon.png" alt="Heart_Icon" /></a>
                        }
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <h3>No hay recetas subidas</h3>
}
@Html.ActionLink("Modificar usuario", "RM", "Usuarios", new { modo = "Editar", id = Model.IDUsuario }, null)<br />
@Html.ActionLink("Cerrar sesión", "Logout", "Usuarios")
